In [5]:
from data_utils import get_clean_data
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
import pandas as pd

In [8]:
X, y = get_clean_data()
# data = pd.read_csv("healthcare-dataset-stroke-data.csv")
# data = data.dropna()
# X = data.drop(columns=["id", "stroke"])
# y = data["stroke"].to_list()
# dummied_X = pd.get_dummies(X)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)

NameError: name 'dummied_X' is not defined

In [9]:
kernels = ['linear', 'rbf', 'poly']
preds = []
accuracies = []
for kernel in kernels:
    svc = SVC(kernel=kernel).fit(X_train, y_train)
    y_pred = svc.predict(X_test)
    preds.append(y_pred)
    accuracy = accuracy_score(y_test, y_pred)*100
    accuracies.append(accuracy)

NameError: name 'X_train' is not defined

In [93]:
svc = SVC(kernel=kernel).fit(X_train, y_train)
y_pred = svc.predict(X_test)
preds.append(y_pred)
accuracy = accuracy_score(y_test, y_pred)*100

In [94]:
for pred in preds:
    print(pred.sum())

0
0
0
0

In [95]:
accuracies

[95.62118126272912, 95.62118126272912, 95.62118126272912]

In [83]:
accuracies[0]*len(y_test)

93900.0

In [84]:
y_test.count(0)

939

In [74]:
preds[0].sum()

0

In [75]:
dummied_X

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,13.0,0,0,103.08,18.6,1,0,0,1,0,...,0,0,0,1,1,0,1,0,0,0
5106,81.0,0,0,125.20,40.0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0
5107,35.0,0,0,82.99,30.6,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5108,51.0,0,0,166.29,25.6,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
5109,44.0,0,0,85.28,26.2,1,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0

In [26]:
from imblearn.over_sampling import SMOTENC, ADASYN, SMOTE, BorderlineSMOTE
from collections import Counter

In [27]:
counter = Counter(y)
print(counter)
oversample = SMOTE()
X_s, y_s = oversample.fit_resample(X, y)
counter = Counter(y_s)
print(counter)
X_snc, y_snc = SMOTENC(categorical_features=[0,2,3,4,5,6,9]).fit_resample(X, y)
counter = Counter(y_snc)
print(counter)
X_a, y_a = ADASYN().fit_resample(X, y)
counter = Counter(y_a)
print(counter)
X_border, y_border = BorderlineSMOTE().fit_resample(X, y)
counter = Counter(y_a)
print(counter)

Counter({0: 4700, 1: 209})
Counter({1: 4700, 0: 4700})
Counter({1: 4700, 0: 4700})
Counter({0: 4700, 1: 4651})
Counter({0: 4700, 1: 4651})

In [14]:
X.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status'],
      dtype='object')

In [17]:
X.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,67.0,0,1,0,0,0,228.69,36.6,0
2,0,80.0,0,1,0,0,1,105.92,32.5,1
3,1,49.0,0,0,0,0,0,171.23,34.4,2
4,1,79.0,1,0,0,1,1,174.12,24.0,1
5,0,81.0,0,0,0,0,0,186.21,29.0,0

In [21]:
X_a.nunique()

gender                  3
age                  4114
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    8294
bmi                  4811
smoking_status          4
dtype: int64

In [22]:
X.nunique()

gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3852
bmi                   418
smoking_status          4
dtype: int64

In [23]:
X_s.nunique()

gender                  3
age                  4152
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    8343
bmi                  4854
smoking_status          4
dtype: int64

In [24]:
X_snc.nunique()

gender                  3
age                  4136
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    8343
bmi                  4860
smoking_status          4
dtype: int64

In [28]:
X_border.nunique()

gender                  3
age                  4064
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    8343
bmi                  4865
smoking_status          4
dtype: int64